#about-parent-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 350px;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 25px;
    border-radius: 1rem;
    background-color: rgb(242, 242, 242);
}

#about-parent-div p {
    padding: 0 25px 25px 25px;
}

@media only screen and (max-width: 880px) {
    #about-parent-div {
        padding-top: 25px;
        padding-bottom: 0;
        margin-top: 25px;
    }
}
